<html>                                                                  
 <head>                            

<!JQUERY>



<link rel="stylesheet" type="text/css" href="/healthstyle.css" media="screen" />                                      
<script type="text/javascript" src="/js/jquery.js"></script>          


<!LIGHTBOX>                            

	<link rel="stylesheet" type="text/css" href="/css/jquery.lightbox-0.5.css" media="screen" />
<script type="text/javascript" src="/js/jquery.lightbox-0.5.js"></script>

<style type="text/css">

#gallery-issue 
{
	margin-left: 20%;
	width: 60%;
	margin-right: 20%;
}

#gallery-issue ul li { display: inline; }

</style>


<! CLEDITOR >


 <link rel="stylesheet" type="text/css" href="/cleditor/jquery.cleditor.css" /> 
 <script type="text/javascript" src="/cleditor/jquery.cleditor.js"></script>

<!JQUERY ONLOADS>

	        <script type="text/javascript">                                         


					$(document).ready(function() {

						  
						    $("#patient_name").click(function() {

								alert("clicked");
						    });


						    $('#gallery-issue a').lightBox();						

						    $("#gallery-issue img").attr("height","200px").attr("width","200px");
						    //$(".gallery img")

					 });

			 </script>                                                               
        </head>                                                                 
	<body>                                                                  

<br>


					<div id= 'patient_name_details'>

						 <img width="100px" height="100px"

						 src=""> 
					</div>


					<div id= 'patient_name' >
						{{ narrative.name }}
					</div>

					<div class="divider">
					</div>

					<br>
					<br>


		<div id="issue_about">

			{{ narrative.about }}

		</div>					

		<div id="issue_narrative">

			<! ISSUE NARRATIVE GOES HERE - text or image>

			{% if narrative.details and narrative.details.strip %}
				{{ narrative.details }}

			{% else %}

				 <a href="https://udhc1-nodejstest.rhcloud.com/my_image/{{ narrative.file_id }}" title="">
				          <img src="photos/https://udhc1-nodejstest.rhcloud.com/my_image/{{ narrative.file_id }}" width="142" height="142" alt="Couldnt display image" />
				  </a>

			{% endif %}



		</div>					



			<div id="gallery-issue">
			    <ul>

			    {% for report in health_reports %}	
			        <li>
			            <a href="https://udhc1-nodejstest.rhcloud.com/my_image/{{ report.file_id }}" title="{{ report.about }}">
			          <img src="photos/https://udhc1-nodejstest.rhcloud.com/my_image/{{ report.file_id }}" width="72" height="72" alt="" />
			            </a>
			        </li>
			     {% endfor %}

			    </ul>
			</div>



	</body>
</html>	

