<html>                                                                  
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="healthstyle.css" media="screen" />                                      
<script type="text/javascript" src="js/jquery.js"></script>          


<!LIGHTBOX>                            

	<link rel="stylesheet" type="text/css" href="css/jquery.lightbox-0.5.css" media="screen" />
<script type="text/javascript" src="js/jquery.lightbox-0.5.js"></script>



<! CLEDITOR >


 <link rel="stylesheet" type="text/css" href="cleditor/jquery.cleditor.css" /> 
 <script type="text/javascript" src="cleditor/jquery.cleditor.js"></script>


<! Google Transliterate >


<script type="text/javascript" src="https://www.google.com/jsapi"></script>


<script type="text/javascript">

      // Load the Google Transliterate API
      google.load("elements", "1", {
            packages: "transliteration"
          });

      function onLoad() {
        var options = {
            sourceLanguage:
                google.elements.transliteration.LanguageCode.ENGLISH,
            destinationLanguage:
                [google.elements.transliteration.LanguageCode.BENGALI],
            shortcutKey: 'ctrl+y',
            transliterationEnabled: true
        };

        // Create an instance on TransliterationControl with the required
        // options.
        var control =
            new google.elements.transliteration.TransliterationControl(options);

        // Enable transliteration in the textbox with id
        // 'transliterateTextarea'.
        control.makeTransliteratable(['narrative_text','narrative_local']);
      }
      google.setOnLoadCallback(onLoad);

	alert("executed");
    </script>

<! end of Google transliterate API >


	        <script type="text/javascript">                                         


					$(document).ready(function() 
					{
						$("#narrative_div_image").hide();
						$("#narrative_div_local").hide();
						$("#narrative_div_text").show();								


						$("label").addClass("label_format");

						$("button").click(function(e)
						{

							if($(this).html()=="Upload narrative as a SCANNED IMAGE")
							{
								$("#narrative_div_text").hide();
								$("#narrative_div_local").hide();
								$("#narrative_div_image").show();								
							}
							else if($(this).html()=="Write in local language")
							{
								$("#narrative_div_text").hide();
								$("#narrative_div_image").hide();
								$("#narrative_div_local").show();
							}
							else
							{
								$("#narrative_div_image").hide();
								$("#narrative_div_local").hide();
								$("#narrative_div_text").show();								
							}

							e.preventDefault();
						});

						$("#narrative_text").cleditor({

							width:570,
							height:300

						});


//						$(".p_case a").lightBox();

					});



			 </script>                                                               
        </head>                                                                 
	<body> 


	<div id= 'patient_name_details'>

						 <img width="100px" height="100px"

						 src=""/> 
	</div>
		

					<div class="menu_button" >
					HEALTH REPORTS
					</div>

					<div class="menu_button" >
					HEALTH CASES
					</div>

					<div class="menu_button" >
					ABOUT
					</div>



					<div class="divider">
					</div>

					<br>
					<br>

<table>

	<tr>


			<td  id="narrative_form">



							<form method="post" action="submit_health_case.udhc" enctype="multipart/form-data">
								{% csrf_token %}

								<p>

									<button>Upload narrative as a SCANNED IMAGE</button>
									<button>Upload narrative as a TEXT</button>
									<button>Write in local language</button>
								</p>

								<B> New Patient narrative </B>

								<br><br>

								<label> About the issue:</label> : &nbsp <input name="about" value="text">



								<br>
								<br>
								<br>

								<label> Name of the care-seeker:</label> : 

									<select name="name">
								
									 	<option value="{{ scientific_name.name.strip }}"> 
									 	**NEW**( {{ scientific_name.name.strip }} ) </option>
								

								{% for i in unique_names_list %}
									<option value="{{ i }}">
													{{ i }}
									</option>
								{% endfor %}
									 </select>
								

								<br>
								<br>
								<br>
								<br>



									<div id="narrative_div_text">	
											<label> Enter narrative as a text</label>
											<p>
												<textarea rows="20" cols="80" name="narrative_text" id="narrative_text">Enter the data here</textarea>
											</p>										
									</div>

									<div id="narrative_div_image">
											<label>Upload Scanned image of narrative</label>
											<p>
												<input id="narrative_file" name="image_scan" type = "file" >
											</p>
									</div>

									<div id="narrative_div_local">
									<label>Write in Bengali [ Press ctrl+y to toggle English and Bengali ]</label>
									<textarea rows="10" cols="80" id="narrative_local" id="narrative_local">
									</textarea>
									</div>
									<p>
										<input type="submit" value="submit narrative">
									</p>
							</form>	


			</td>


			<td id="previously_uploaded" >

				<div >

					<label>The following issues were previously uploaded</label>

					<br><br>
			{% for narrative in full_narrative_list %}

					<div class="p_case">
<a href="https://udhc1-nodejstest.rhcloud.com/health_case.udhc?health_case_id={{narrative.idcase}}">

				[{{narrative.name}}]{{narrative.about}}

</a>

					</div>
			{% endfor %}

				
  			</div>


			</td>

	</tr>

</table>


	</body>                                                                 
</html>
