<html>                                                                  
 <head>

<link rel="stylesheet" type="text/css" href="healthstyle.css" media="screen" />                                      
<script type="text/javascript" src="js/jquery.js"></script>          


<!LIGHTBOX>                            

	<link rel="stylesheet" type="text/css" href="css/jquery.lightbox-0.5.css" media="screen" />
<script type="text/javascript" src="js/jquery.lightbox-0.5.js"></script>



<! CLEDITOR >


 <link rel="stylesheet" type="text/css" href="cleditor/jquery.cleditor.css" /> 
 <script type="text/javascript" src="cleditor/jquery.cleditor.js"></script>

<style type="text/css">

#table_report_form
{
	margin-left: 30%
	
}

</style>


	        <script type="text/javascript">                                         


					$(document).ready(function() 
					{
						/*
						$("#narrative_div_image").hide();
						$("#narrative_div_text").show();								
						*/


						$("label").addClass("label_format");

						

						$(".p_case a").lightBox();

					});



			 </script>                                                               
        </head>                                                                 
	<body> 


	<div id= 'patient_name_details'>

						 <img width="100px" height="100px"

						 src=""/> 
					</div>


					<div id= 'patient_name' >
					PATIENT NAME
					</div>

					<div class="divider">
					</div>

					<br>
					<br>

<table id ="table_report_form">
	<tr>
			<td  id="narrative_form">



							<form method="post" action="add_more_reports.udhc" enctype="multipart/form-data">

								{% csrf_token %}

								<B> New Patient narrative </B>

								<br>
								<br>

								<label> health case ID </label> : &nbsp

								 <!input name="health_case_id" value="text">

								 <select name="health_case_id">
				{%  for case in health_cases %}
							 	<option value="{{ case.idcase}}"> {{ case.about }}  </option>
				{%  endfor %}
								 </select>

								<br>
								<br>

								<label> About the report </label> : &nbsp <input name="about" value="text">

								<br>
								<br>

								<label> Name of the care-seeker</label> : &nbsp <input name="patient_id" value="text">
								

								<br>
								<br>
								<br>

									<div id="narrative_div_image">

											<label>Upload Scanned image of report</label>
											<p>
												<input id="narrative_file" name="image_scan" type = "file" >
											</p>

									</div>

									<p>
										<input type="submit">
									</p>
							</form>	
			</td>
	</tr>

</table>


	</body>                                                                 
</html>
