
body
{
	background-color: #969090;
}

#patient_name
{
	padding: 5px;
	border-radius: 20px;
	border-style: solid;
	border-color: white;
	background-color: #0D5995;
	width: 20%;
	text-align: center;
	float: left;
	color: white;
	cursor: pointer;


}

#patient_name_details
{
	padding: 5px;
	background-color: black;
	color: white;
	float: left;
	width: 90px;
	height:90px;
}

.divider
{
	clear: both;
}

.narrative
{

	padding:  20px;	
	margin-top: 50px;
	width: 600px ;
	border-radius:10px;
		
	background-color: white;
	vertical-align: middle;


}

.date_col
{

	width:200px;
	text-align: center;
	vertical-align: middle;;

}

.gallery {
		margin: 20px;
		
		padding: 5px;
		width: 400px;
		vertical-align: middle;
}
.gallery ul img {
		border: 5px solid #3e3e3e;
		border-width: 5px 5px 10px;
}
.gallery a:hover img {
	border: 5px solid #fff;
	border-width: 5px 5px 5px 5px;
	color: #fff;
}
.gallery a:hover { color: #fff; }


#narrative_form
{

	background-color: white;
	border-style: solid;
	border-radius: 5px;
	border-color: black;
	padding: 10px;
	margin-left: 30%;
	margin-right: 30%;	
	text-align: left;

}

.label_format
{
	color: white;
	background-color: #0D5995; 
	padding: 5px;
	vertical-align: top;
	text-align: center;
	margin: 5px;
}


#issue_narrative
{
	margin-top: 50px;
	margin-left: 20%;
	width:60%;
	background-color: white;
	padding: 20px;
	border-radius: 6px;
}

#issue_about
{
	border: solid;
	text-align: center;
	background-color: white;
	color: black;
	padding: 6px;
	border-radius: 5px;
	width:30%;
	margin-left: 20%;
	padding: 15px;
}

#previously_uploaded
{

	vertical-align: top;
	padding: 20px;
	background-color: white;
	border-style: solid;
	border-color: ;
}

.p_case
{
	margin-top: 10px;
	padding: 5px;
	border-radius: 4px;
	background-color: #E7EBF2;
}

.p_case a 
{	
		color: black;
}

